
.navegacion {
    text-decoration: none;
    color: rgb(238, 218, 238);
    list-style-type: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


.lis li {
    margin: 10px;
    color:blueviolet;
}

.logo{
    height: 200px;
    padding: auto;
}